*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 150px;
    background-color: #101042;
}
.banner span{
    font-size:60px;
    color: #fff;
    line-height: 150px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-weight: 900;
}
.home{
    display: inline-flex;
    width: 100%;
}
.home_menu{
    width: 25%;
    background: #EAEAEA;
}
.home_a{
    display: grid;
    height: 300px;
    padding: 50px;
}
.home_a a{
    text-decoration: none;
    color: #0D0F43;
    font-weight: 900;
    font-size: 30px;
}
.home_form{
    width: 75%;
}
.form_text h2{
    padding: 25px;
    font-size: 35px;
    letter-spacing: 2px;
}
.form_text span{
    padding: 25px;
    font-size: 25px;
    display: block;
}
.form{
    
}
.name{
    margin-left: 95px;
    margin-top: 11px;
}
.name span{
    font-weight: 300;
    font-size: 20px;
}
.name input{
    padding: 5px;
    margin-left: 20px;
}
.email{
    margin-top: 20px;
    margin-left: 90px;
}
.email span{
    font-weight: 300;
    font-size: 20px;
}
.email input{
    padding: 5px;
    margin-left: 20px;
}
.comment{
    margin-top: 20px;
    margin-left: 58px;
}
.comment span{
    font-weight: 300;
    font-size: 20px;
}
.comment input{
    padding: 5px;
    margin-left: 20px;
}
.button{
    margin: 20px 0 20px 190px;
    padding: 5px;
}
.home_footer{
    background: #95AED7;
    height: 100px;
    text-align-last: center;
    padding: 32px;
}
.home_footer span{
    text-align: center;
}
.home_footer a{
    text-align: center;
}
.footer_text{
}